<button type="button" (click)="back()">Back</button>
<div *ngIf="!book?.data.length">
    <h2>Your search of '{{ id }}' did not return any result</h2>
</div>
<div *ngFor="let b of book.data" class="bookContainer">
    <div fxLayoutAlign="space-between center">
        <div fxLayout="column">
            <h1>{{b.title}}</h1>
            <p>By: {{b.authors}}</p>
            <p>Rating: {{b.rating}}</p>
            <span>
                Genres: <i *ngFor="let a of b.genres"> {{ a }}, </i>
            </span>
        </div>

        <div fxLayoutAlign="end">
            <img src="{{b.image_url}}" class="bookImg">
        </div>
    </div>
    <p>{{b.description}}</p>
</div>

<div *ngIf="!reviews?.data.length">
    <h2>No reviews available currently</h2>
</div>
<div *ngIf="reviews?.data.length">
    <h2>Reviews</h2>
    <div *ngFor="let r of reviews.data" class="reviewContainer">
        <span>Review By: {{r.byline}} </span>
        <p>Published on: {{r.publication_dt}} </p>
        <a href="{{r.url}}">See full review here</a>
        <p>Summary: {{r.summary}} </p>
    </div>
</div>